<div class="nav-bar">
    <div class="nav-title">
        <h1>CS101 BOOKSTORE</h1>
    </div>
</div>
<div class="container">
    <div class="area-left">
        <div class="left-title">Enter the name of the book you want to review:</div>
        <div class="left-name-book">
            <input type="text" class="input-text">
        </div>
    </div>

    <div class="area-right">
        <div class="right-title">Rate the book:</div>
        <div class="right-review-book">
            <textarea></textarea>
            <div class="stars">*Space to rate with stars*</div>
        </div>
    </div>

</div>
